<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}
	</head>
	<body>
		<a href="{{ path('home') }}">Accueil</a>

		{% if app.user %}
			<a href="{{ path('app_logout') }}">Se déconnecter</a>
			<a href="{{ path('private') }}">PAGE PRIVEE</a>
		{% endif %}

		{% if is_granted("ROLE_ADMIN") %}
			<a href="#">Panneau d'administration</a>
		{% endif %}

		{% block body %}{% endblock %}
		{% block javascripts %}{% endblock %}
	</body>
</html>
